{:full-name "kit/mgl-chat"
 :ns-name   "kit.mgl-chat"
 :sanitized "kit/mgl_chat"
 :name      "mgl-chat"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
